In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
credit_data = pd.read_csv('creditcard.csv')
credit_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [3]:
credit_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [4]:
credit_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [32]:
plt

AttributeError: 'DataFrame' object has no attribute 'get_array'

In [5]:
credit_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [6]:
legit = credit_data[credit_data['Class'] == 0]
fraud = credit_data[credit_data['Class'] == 1]

In [7]:
print(legit.shape,fraud.shape)

(284315, 31) (492, 31)

In [8]:
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [9]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [10]:
credit_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [11]:
legit_sample = legit.sample(n=492)

In [12]:
new_df= pd.concat([legit_sample,fraud],axis= 0)

In [13]:
new_df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
56327,47374.0,1.399612,-1.107162,0.097176,-1.346841,-1.468189,-1.037438,-0.724578,-0.176626,-2.183073,...,-0.125429,-0.152310,-0.042895,0.496599,0.450658,-0.176159,-0.009682,0.009534,58.62,0
219518,141760.0,-0.708395,1.352380,-1.161618,-1.334094,1.431106,-1.260947,1.897063,-0.615065,0.319751,...,0.070116,0.793768,-0.230717,0.623117,-0.120701,0.050731,0.531330,0.309823,30.27,0
17124,28457.0,1.292179,0.255101,-0.100852,0.730870,0.473893,0.395308,-0.026015,0.051675,0.162676,...,-0.137411,-0.322336,-0.143674,-1.338053,0.627715,-0.345000,0.039563,0.008646,1.00,0
165576,117520.0,-1.324608,-0.879829,0.437295,-2.487429,0.496776,1.603279,-0.722245,1.132698,-1.017964,...,0.604626,1.206358,-0.013757,-0.946494,-0.135076,-0.105058,0.006540,-0.039431,99.00,0
264130,161280.0,1.754990,-0.729623,-0.774444,0.111743,-0.304666,0.188418,-0.443517,0.140743,1.087413,...,-0.038445,-0.341767,0.217294,0.219110,-0.373354,-0.971228,0.023983,-0.013285,127.00,0

In [14]:
new_df.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [15]:
new_df['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [16]:
new_df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,93750.097561,0.054742,0.033332,-0.005657,-0.018943,-0.060393,-0.012525,0.019198,-0.033988,-0.133728,...,0.016146,-0.008777,-0.003314,-0.034616,0.004033,0.048806,-0.007318,-0.025670,0.014389,91.057825
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [17]:
x=new_df.drop(columns='Class',axis =1)
y = new_df['Class']

In [18]:
print(x)

            Time        V1        V2        V3        V4        V5        V6  \
56327    47374.0  1.399612 -1.107162  0.097176 -1.346841 -1.468189 -1.037438
219518  141760.0 -0.708395  1.352380 -1.161618 -1.334094  1.431106 -1.260947
17124    28457.0  1.292179  0.255101 -0.100852  0.730870  0.473893  0.395308
165576  117520.0 -1.324608 -0.879829  0.437295 -2.487429  0.496776  1.603279
264130  161280.0  1.754990 -0.729623 -0.774444  0.111743 -0.304666  0.188418
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
56327  -0.724578 -0.176626 -2.183073  ... -0.311292 -0.125429 -0.152310
219518  1.897063 -0.615065  0.319751  ...  0.390074  0.070116  0.793768
17124  -0.026015  0.051675  0.162676  ... -0.130757 -0.137411 -0.322336
165576 -0.722245  1.132698 -1.017964  ...  0.151823  0.604626  1.206358
264130 -0.443517  0.140743  1.087413  ...  0.052647 -0.038445 -0.341767
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
56327  -0.042895  0.496599  0.450658 -0.176159 -0.009682  0.009534   58.62
219518 -0.230717  0.623117 -0.120701  0.050731  0.531330  0.309823   30.27
17124  -0.143674 -1.338053  0.627715 -0.345000  0.039563  0.008646    1.00
165576 -0.013757 -0.946494 -0.135076 -0.105058  0.006540 -0.039431   99.00
264130  0.217294  0.219110 -0.373354 -0.971228  0.023983 -0.013285  127.00
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [19]:
print(y)

56327     0
219518    0
17124     0
165576    0
264130    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [20]:
X_train,X_test,Y_train,Y_test = train_test_split(x,y,test_size= 0.2,random_state=2,stratify= y)

In [21]:
print(X_test.shape , X_train .shape , Y_test.shape , Y_train.shape)

(197, 30) (787, 30) (197,) (787,)

In [22]:
model = LogisticRegression()

In [23]:
model.fit(X_train,Y_train)

LogisticRegression()

In [24]:
X_train_Predition = model.predict(X_train)
Trainig_Accuracy = accuracy_score(X_train_Predition,Y_train)
print('Accuracy Score on Training :',Trainig_Accuracy)

Accuracy Score on Training : 0.9479034307496823

In [25]:
X_test_Predition = model.predict(X_test)
Testing_Accuracy = accuracy_score(X_test_Predition,Y_test)
print('Accuracy Score on testing :',Testing_Accuracy)

Accuracy Score on testing : 0.9187817258883249

In [26]:
input_data=(146022,0.908636658181293,2.84902401493181,-5.64734296336341,6.00941477810058,0.216656395035464,-2.39701442397293,-1.81930788593969,0.338526987742346,-2.81988277297887,-4.06309810827338,2.94119009271712,-6.15136219091534,-1.98952853525001,-9.15095100562097,-0.604289998808266,-1.95229039984463,-2.89255533222526,-0.912057960709434,-1.56373996709776,0.241921294746754,0.407260461266497,-0.397434852530952,-0.0800058534116311,-0.168596545191964,0.465058497798457,0.210509756241616,0.648704799002062,0.360224330288316,1.18)
input_data_numpy_array= np.asarray(input_data)
input_data_Reshape = input_data_numpy_array.reshape(1,-1)
predition = model.predict(input_data_Reshape)

if (predition[0] == 0):
    print('This transaction is not fraud')
else:
    print('This Transaction is fraud')

This Transaction is fraud

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(